.env*
logs/
myfile.log
backup.sql
values-secrets.yaml
values-secrets-staging.yaml
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars         
*.tfvars.json
tfplan
**/.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plans
*.tfplan
firsttfplan       # Your specific plan file

# Test files
test.txt
backend/verify_celery_config.py

# Temporary files
diff.txt
