{{- if eq .Values.namespace "aws" }}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "k8s.labels" . | nindent 4 }}
spec:
  type: ExternalName
  externalName: {{ .Values.database.host }}
  ports:
    - name: postgresql
      port: 5432
      protocol: TCP
{{- end }}